@page "/AddDiseaseAndCure"
<h3>AddDiseaseAndCure</h3>

@* <MudForm> *@
@*     <MudTextField Label="Id" Disabled="true" @bind-Value="_pigeonDiseaseAndCure.Id"></MudTextField> *@
@*     <h5>Title</h5> *@
@*     <MudTextField Label="English" @bind-Value="_pigeonDiseaseAndCure.Title[" English *@
@*                   "]"> *@
@*     </MudTextField> *@
@*     <MudTextField Label="Spanish" @bind-Value="_pigeonDiseaseAndCure.Title[" Spanish *@
@*                   "]"> *@
@*     </MudTextField> *@
@*     <h5>Content</h5> *@
@*     <MudTextField Label="English" @bind-Value="_pigeonDiseaseAndCure.Content[" English *@
@*                   "]" Multiline="true"> *@
@*     </MudTextField> *@
@*     <MudTextField Label="Spanish" @bind-Value="_pigeonDiseaseAndCure.Content[" Spanish *@
@*                   "]" Multiline="true"> *@
@*     </MudTextField> *@
@*     <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Submit</MudButton> *@
@* </MudForm> *@

@code {
    private PigeonDiseaseAndCure _pigeonDiseaseAndCure = new PigeonDiseaseAndCure();

}