@page "/AllTournaments"
@inject IStringLocalizer<Language> Localizer

<div class="d-flex flex-column">
    @* <MudText Typo="Typo.h4" Class="mb-2">@Localizer["TournamentType1"]</MudText> *@
    <MyPageTitle Text="@Localizer["TournamentType1"]"></MyPageTitle>

    <p>
        @Localizer["ComingSoon"]
    </p>
</div>