@page "/ContactUs"
@inject IStringLocalizer<Language> Localizer

<MyPageTitle Text="@Localizer["ContactUsTitle"]"></MyPageTitle>

<div class="d-flex flex-column mt-3">
    <div class="d-flex flex-row my-2">
        <MudText Typo="Typo.body2">@Localizer["HowToUse"]</MudText>
    </div>
    <div class="d-flex flex-row">
        <iframe width="560" height="560" style="aspect-ratio: 16/9;" src="https://www.youtube.com/embed/JEAExAp5e-I?si=6uoA7FqGm0UBXS3m" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    </div>
</div>
@code {

}