@page "/Information"
@inject IStringLocalizer<Language> Localizer

<PagesBase>
    <div class="d-flex flex-column w-100">
        <MyPageTitle Text="@Localizer["InfoText"]"></MyPageTitle>
        <p class="mt-2">
            @Localizer["InfoPageContextP1"]
        </p>
    </div>
</PagesBase>

@code {

}