@page "/PigeonsDiseases"
@inject IStringLocalizer<Language> Localizer
<PagesBase>
    <MyPageTitle Text="@Localizer["PigeonsDiseasesAndCure"]"></MyPageTitle>

    <p>
        @Localizer["ComingSoon"]
    </p>

</PagesBase>

@code {

}