@page "/PigeonsDiseases"
@inject IStringLocalizer<Language> Localizer
@inject NavigationManager NavigationManager


<PagesBase>
    <MyPageTitle Text="@Localizer["PigeonsDiseasesAndCure"]"></MyPageTitle>

    <p>
        @Localizer["ComingSoon"]
    </p>

</PagesBase>
<MudFab Color="Color.Primary" Class="btnFloating animate__animated animate__slideInUp" StartIcon="@Icons.Material.Filled.Add" OnClick="@(() => NavigationManager.NavigateTo("/AddDiseaseAndCure/"))"/>

@code {

}