.install-prompt {
    background-color: #54595f;
    color: #fff;
    position: fixed;
    bottom: 0.5rem;
    padding: 0.5rem;
    display: flex;
    font-size: 1.2rem;
    z-index: 99;
}
.install-prompt .installButton {
    margin-left: auto;
    width: 4em;
}

.install-prompt .cancelButton {
    margin-left: 0.3rem;
    width: 4em;
}