<div class="d-flex flex-column my-tile tile-enhanced shadow-sm mx-1 my-1 cursor-btn @TileColorClass text-shadow-light">
    <i class="@SvgClass tile-icon"></i>
    <h5 class="tile-text">@Text</h5>
</div>

@code {
    [Parameter] public string Text { get; set; }
    [Parameter] public string SvgClass { get; set; }
    [Parameter] public string TileColorClass { get; set; } = ""; // Default primary gradient
}